<a href="" id="help-toggle"></a>
<div class="help">
    <h4>INSTRUKCJA:</h4>
  <p>Struktura URL zapytania - <span class="code">/kategoria?rok=XXXX&voivodship=xx</span></p>
  <p>Paramtery <span class="code">[year]</span> oraz <span class="code">[voivodship]</span> są opcjonalne. Podanie samego parametru <span class="code">[voivodship]</span> zwróci dane z 12 lat z danej kategori dla tego wojweództwa.</p>
    <p>Kategorie:</p>
     <ul>
      <li><span class="code">ogol</span> - ogółem</li>
      <li><span class="code">krym</span> - kryminalne</li>	
      <li><span class="code">cudz</span> - kradzież rzeczy</li>
      <li><span class="code">samo</span> - kradzież samochodu</li>	
      <li><span class="code">wlam</span> - kradzież z włamaniem</li>
      <li><span class="code">rozb</span> - kradzież, rozbój i wymuszenie rozbójnicze</li>	
      <li><span class="code">bojk</span> - udział w bójce lub pobiciu</li>
      <li><span class="code">uszc</span> - uszczerbek na zdrowiu</li>	
      <li><span class="code">mien</span> - uszkodzenie mienia</li>
      <li><span class="code">nark</span> - narkotykowe</li>	
      <li><span class="code">zabo</span> - zabójstwo</li>	
      <li><span class="code">zgwa</span> - zgwałcenia</li>
      <li><span class="code">gosp</span> - gospodarcze</li>
    </ul>	
    <p>Kody województw:</p>
    <ul>
      <li><span class="code">ds</span> - dolnośląskie</li>
      <li><span class="code">kp</span> - kujawsko-pomorskie</li>
      <li><span class="code">lu</span> - lubelskie</li>
      <li><span class="code">lb</span> - lubuskie</li>
      <li><span class="code">ld</span> - łódzkie</li>
      <li><span class="code">ma</span> - małopolskie</li>
      <li><span class="code">mz</span> - mazowieckie (bez KSP)</li>
      <li><span class="code">op</span> - opolskie</li>
      <li><span class="code">pk</span> - podkarpackie</li>
      <li><span class="code">pd</span> - podlaskie</li>
      <li><span class="code">pm</span> - pomorskie</li>
      <li><span class="code">sl</span> - śląskie</li>
      <li><span class="code">sk</span> - świętokrzyskie</li>
      <li><span class="code">wn</span> - warmińsko-mazurskie</li>
      <li><span class="code">wp</span> - wielkopolskie</li>
      <li><span class="code">zp</span> - zachodniopomorskie</li>
      <li><span class="code">wa</span> - KSP Warszawa</li>
      <li><span class="code">pl</span> - POLSKA</li>
    </ul>
    <p>Przykłady zapytań:</p>
    <ul>
      <li><span class="code">/api/cudz</span></li>
      <li><span class="code">/api/cudz?year=2006&voivodship=pd</span></li>
      <li><span class="code">/api/cudz?voivodship=pd</span></li>
      <li><span class="code">/api/cudz?year=2006</span></li>
    </ul>
    <hr />
    <p>
        Dane pochodzą z Policyjnego Systemu Statystyki Przestępczosci "TEMIDA", który działał na podstawie
        <a href="http://www.policja.pl/ftp/dzienniki_urzedowe/2003/dziennik_14_2003.pdf" title="Tekst zarządzenia z policja.pl">
            Zarządzenia nr 350 Komendanta Głównego Policji
        </a>.
    </p>
    <h4>SŁOWNIK POJĘĆ:</h4>
    <h5>Postępowanie wszczęte [WSZ]</h5>
    <p>
        Postępowanie (dochodzenie lub śledztwo) 
        wszczęte przez jednostkę organizacyjną Policji  w związku ze zdarzeniem, co do którego 
        zachodzi podejrzenie, że jest przestępstwem, albo wszczęte przez prokuraturę i przekazane 
        Policji do dalszego bezpośredniego prowadzenia. Do postępowań wszczętych doliczane są 
        również dochodzenia wszczęte faktycznie, a następnie zakończone wydaniem postanowienia o 
        umorzeniu i wpisaniu sprawy do rejestru przestępstw. Nie wlicza się postępowań wyłączonych 
        względem czynu i współsprawcy (za wyjątkiem raportu sprawy w toku).
    </p>
    <h5>Przestępstwo stwierdzone [STW]</h5>
    <p>
        Przestępstwo będące zbrodnią lub występkiem ściganym z
        oskarżenia publicznego, w tym także przestępstwem skarbowym, 
        objęte postępowaniem przygotowawczym zakończonym:
    </p>	
        <ol>
            <li>skierowaniem wniosku o zatwierdzenie lub sporządzenie:
                <ul>
                    <li>aktu oskarżenia, w tym o zatwierdzenie wniosku o rozpoznanie sprawy w postępowaniu przyspieszonym,</li>
                    <li>warunkowego umorzenia postępowania,</li>
                    <li>umorzenia postępowania z powodu okoliczności, że podejrzany nie popełnił zarzucanego mu przestępstwa,</li>
                    <li>umorzenia postępowania przeciwko osobie z powodu cofnięcia przez osobę uprawnioną wniosku o ściganie sprawcy czynu zabronionego,</li>
                    <li>umorzenia postępowania z powodu niecelowości orzekania,</li>
                    <li>umorzenia postępowania z powodu niewykrycia sprawcy,</li>
                    <li>umorzenia postępowania z powodu śmierci podejrzanego lub nieletniego;</li>
                </ul>
            </li>
            <li>wydaniem przez Policję postanowienia o umorzeniu dochodzenia i wpisaniu sprawy do rejestru przestępstw.</li>
        <p>
            Przestępstwem stwierdzonym jest również czyn karalny, co 
            do którego sędzia rodzinny wszczął i zakończył postępowanie. 
        </p>
        </ol>
    <h5>% wykrycia [WYK]</h5>
    <p>
        Iloraz liczby przestępstw wykrytych (łącznie z
        wykrytymi po podjęciu z umorzenia) przez ogólną liczbę przestępstw stwierdzonychpowiększoną o
        liczbę przestępstw wykrytych po podjęciu postępowań umorzonych w roku ubiegłym lub latach
        poprzednich- wyrażonyw procentach.
    </p>
    <h5>Podejrzany [POD]</h5>
    <p>
        Osoba, co do której wydano postanowienie o przedstawieniu zarzutów, 
        albo której bez wydania postanowienia postawiono zarzut w związku z 
        przystąpieniem do przesłuchania w charakterze podejrzanego i została 
        zarejestowana w KSIP.
    </p>
</div>