<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include help.ejs %>
    <div class="main-container">
      <h1><%= title %></h1>
      <div class="form-container">
        <form id="api-form" action="">
          <span>http://crime-rates.herokuapp.com/api/</span>
          <input type="text" name="query" placeholder="zapytanie" />
          <input type="submit" value="Wyślij" />
        </form>
      </div>
      <div class="response-container"></div>
    </div>
  <script src="/javascripts/main.js"></script>
  </body>
</html>
