body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main-container {
  padding: 50px;
  text-align: center;
}

.response-container {
  max-height: 50vh;
  background-color: #efefef;
  overflow-y: auto;
  margin-top: 30px;
}

.response-container pre {
  white-space: normal;
  padding: 20px;
  text-align: left;
}

.help {
  max-width: 450px;
  transform: translate3d(-550px, 0, 0);
  transition: transform .3s ease-in-out;
  position: fixed;
  top:0;
  left:0;
  background-color: #fff;
  z-index:10;
  border-right: 3px solid;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  overflow: auto;
  padding:10px;
  max-height: 100vh;
}

.help--visible .help {
    transform: translate3d(0, 0, 0);
}

#help-toggle {
   display: inline-block;
    width: 30px;
    height: 30px;
    position: fixed;
    right: 10px;
    top: 10px;
    border: 2px solid;
    border-radius: 50%;
    z-index: 11;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    font-size: 20px;
    color: #000;
}

#help-toggle:after {
    content: '?';
}

.help--visible #help-toggle:after {
    content: 'X';
}

.help .code {
  font-family: monospace;
}

#api-form span {
  font-size: 18px;
  color: #5b5b5b;
}

#api-form input {
  outline: none;
  border: none;
  font-size: 18px;
}

#api-form input[type="text"] {
  border-bottom: 2px solid #212121;
}

#api-form input[type="submit"] {
  background-color: #212121;
  padding: 5px 25px;
  color: #fff;
}